
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SyroeshkaRu Панель управления</title>
	<link rel="shortcut icon" href="~/favicon.ico">
	<environment include="Development">
		<link rel="stylesheet" asp-href-include="~/lib/font-awesome/**/*.css, ~/lib/bootstrap/**/*.css" asp-href-exclude="~/**/*.min.css" asp-append-version="true" />
		<link rel="stylesheet" asp-href-include="~/styles/css/**/*.css" asp-href-exclude="~/styles/css/client/**, ~/**/*.min.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" asp-href-include="~/lib/font-awesome/**/*.min.css, ~/lib/bootstrap/**/*.min.css" asp-append-version="true" />
		<link rel="stylesheet" asp-href-include="~/styles/css/**/*.min.css" asp-href-exclude="~/styles/css/client/**" asp-append-version="true" />
	</environment>
</head>
<body>
	<div class="content d-flex align-items-stretch shadow-lg">
		<div class="left-flex">
			<partial name="_LeftMenu" />
		</div>
		<div class="right-flex">
			<header class="section-nav">
				<partial name="_MainMenu" />
			</header>
			<main class="section-main">
				@RenderBody()
			</main>
		</div>
	</div>

	<footer class="container-fluid">
		<div class="footer-bottom">
			<div class="row">
				<div class="col-4">
					<p>&copy; 2019 SyroeshkaRu Парель управления v1.0</p>
				</div>
				<div class="col-8">
					<p>Разработано <span><a target="_blank" href="http://www.themeum.com">mail@cs-development.ru</a></span></p>
				</div>
			</div>
		</div>
	</footer>

	<environment include="Development">
		<script asp-src-include="~/lib/jquery/dist/*.js, ~/lib/bootstrap/dist/**/*.js" asp-src-exclude="~/**/*.min.js" asp-append-version="true"></script>
		<script src="~/js/services.js" asp-append-version="true"></script>
		<script src="~/js/cp.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script asp-src-include="~/lib/jquery/dist/*.min.js, ~/lib/bootstrap/dist/**/*.min.js"></script>
		<script src="~/js/services.min.js" asp-append-version="true"></script>
		<script src="~/js/cp.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
