@inject IAdmin db;

<nav class="navbar navbar-expand-md navbar-light bg-light flex-md-nowrap p-0 shadow">
	<div class="d-flex align-items-center justify-content-between">
		<div class="navbar-header text-right">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
				@foreach (var menu in (ICollection<MenuViewModel>) db.GetMainMenu())
				{
				<li class="nav-item d-flex align-items-center">
					<a asp-controller="@(menu.ParentId != null ? DisplayValues.GetMenuController(menu.ParentId) : menu.Name)"
					   asp-action="@(menu.ParentId == null | menu.Level == 1 ? "index" : menu.Name)" asp-area="Admin" class="nav-link">@menu.Title</a>
				</li>
				}
			</ul>
		</div>
	</div>
</nav>