@{
	ViewData["Title"] = "Продукты";
}

<div class="page-header">
	<h4>@ViewData["Title"]</h4>
</div>

<div class="page-content">
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr>
				<th>Название</th>
				<th>Цена</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="br"></div>