@model WindowStructure

<form asp-controller="Api" asp-action="DeleteStorages" asp-antiforgery="true">
	<div modal-role="modal-content">
		<form-hidden model="Model.Data" elements="Id,Title,Description"></form-hidden>
		<input asp-for="Header" type="hidden"/>
		<p>@Model.Content</p>
	</div>
	<div modal-role="modal-footer" class="text-right">
		<input type="submit" class="btn btn-success btn-xs" value="Подтверждение"/>
		<input type="button" class="btn btn-danger btn-xs" data-dismiss="modal" value="Отмена"/>
	</div>
</form>