@model StoragesViewModel

<tr>
	<td>
		<label>
			<input asp-for="Title" class="form-control form-control-sm"/>
		</label>
	</td>
	<td>
		<label>
			<input asp-for="Description" class="form-control form-control-sm"/>
		</label>
	</td>
	<td></td>
	<td></td>
	<td>
		<a class="fa fa-check-square-o text-success"></a>
		<a class="fa fa-ban text-danger"></a>
	</td>
</tr>