@model LoginViewModel

<form asp-route="account" asp-route-action="login" asp-antiforgery="false">
	<div class="modal-header">
		<h5>Авторизация</h5>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<label asp-for="UserName" class="col-2 col-form-label col-form-label-sm"></label>
			<div class="col-10">
				<input asp-for="UserName" class="form-control form-control-sm" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="Password" class="col-2 col-form-label col-form-label-sm"></label>
			<div class="col-10">
				<input asp-for="Password" class="form-control form-control-sm" />
			</div>
		</div>
		<div class="form-check">
			<input asp-for="RememberMe" type="checkbox" class="form-check-input" />
			<label asp-for="RememberMe" class="form-check-label col-form-label-sm"></label>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-sm btn-success" ui-role="submit">Авторизация</button>
		<button asp-route="account" asp-route-action="register" type="button" class="btn btn-sm btn-info">Регистрация</button>
	</div>
</form>