@model LoginViewModel
@*<div class="login-form">
		<h2>Авторизация</h2>
		<form asp-route="account" asp-route-action="login" class="login-form">
			<input asp-for="UserName" placeholder="Login" />
			<input asp-for="Password" placeholder="Password" />
			<span>
				<input asp-for="RememberMe" type="checkbox" class="checkbox">
				Запомнить
			</span>
			<div class="row">
				<a asp-route="">Сброс пароля</a>
			</div>
			<div class="form-inline row">
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-sm" ui-role="submit">
						Авторизация
					</button>
				</div>
				<div class="form-group">
					<button type="button" asp-route="account" asp-route-action="register" class="btn btn-default">Регистрация</button>
				</div>
			</div>
		</form>
	</div>*@

<form asp-route="account" asp-route-action="login" asp-antiforgery="false">
	<div class="modal-header">
		<h5>Авторизация</h5>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<label asp-for="UserName" class="col-2 col-form-label col-form-label-sm"></label>
			<div class="col-10">
				<input asp-for="UserName" class="form-control form-control-sm" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="Password" class="col-2 col-form-label col-form-label-sm"></label>
			<div class="col-10">
				<input asp-for="Password" class="form-control form-control-sm" />
			</div>
		</div>
		<div class="form-check">
			<input asp-for="RememberMe" type="checkbox" class="form-check-input" />
			<label asp-for="RememberMe" class="form-check-label col-form-label-sm"></label>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-sm btn-success" ui-role="submit">Авторизация</button>
		<button asp-route="account" asp-route-action="register" type="button" class="btn btn-sm btn-info">Регистрация</button>
	</div>
</form>