.badge-light, .navbar.bg-light {
	background: white;
	background: linear-gradient(180deg, white 0%, #cae288 21%, rgba(166, 206, 56, 0.58027) 35%, rgba(243, 246, 106, 0.633491) 100%); }

/* INDIVIDUAL ELEMENTS */
b.fa {
	margin-right: 5px; }

.form-control-sm,
.btn-sm {
	height: calc(1.5em + 5px);
	padding-top: 1px; }

.btn-outline-dark {
	border-color: #A6CE38; }

select.form-control-sm {
	margin-top: 2px; }

.dropdown-item.scroll-menu {
	width: 100%; }

.alert {
	border-left: 5px solid; }
	.alert .close {
		padding-top: 0.55rem;
		color: #696969; }

.text-danger-o {
	color: rgba(255, 0, 0, 0.8); }

/* INDIVIDUAL ELEMENTS */
/* ALL HEADERS */
.navbar-brand img {
	max-width: 100px; }

.left-flex .logo img {
	max-width: 150px; }

.scroll-menu {
	display: none; }
	.scroll-menu img {
		max-width: 70px;
		margin-right: 20px;
		margin-bottom: -5px;
		position: relative; }
	.scroll-menu .dropdown-toggle::after {
		display: none; }

/* ALL HEADERS */
/* ALL FORMS */
.form-group {
	margin-bottom: 5px; }

.modal-content {
	background: rgba(50, 50, 0, 0.5);
	color: #f8f9fa; }
	.modal-content .modal-header .close {
		color: #f8f9fa;
		text-shadow: 0 1px 0 #f8f9fa; }

/* ALL FORMS */
/* HEADER */
.header-middle .navbar {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	position: relative; }
	.header-middle .navbar.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000; }

.navbar .collapse {
	display: flex;
	align-items: flex-start; }
	.navbar .collapse .col:last-child {
		text-align: left; }
		.navbar .collapse .col:last-child .col {
			padding-left: 5px;
			text-align: right; }
	.navbar .collapse .nav-item a {
		margin-top: 5px; }
	.navbar .collapse .input-group {
		margin-top: 5px; }
	.navbar .collapse .form-inline .input-group {
		width: 100%; }

.navbar .form-inline {
	width: 20%;
	margin-top: 8px;
	margin-right: 10px; }

.navbar.bg-light {
	border-top: 1px double rgba(100, 100, 0, 0.5);
	height: 50px; }

.navbar .list-group-item {
	border: 0;
	padding-top: 0;
	padding-bottom: 10px; }
	.navbar .list-group-item a {
		color: #696969; }
	.navbar .list-group-item .fa {
		margin-right: 10px; }
	.navbar .list-group-item:last-child ul > li {
		padding: 5px; }

.navbar .dropdown .dropdown-toggle {
	color: #696969; }

/* HEADER */
/* MAIN */
main {
	margin-top: 50px; }

/* MAIN */
/* FORMS */
form .modal-body {
	padding-left: 60px;
	padding-right: 60px; }
	form .modal-body .form-group.row {
		margin-bottom: 0; }
	form .modal-body .form-check {
		margin-top: 20px; }
		form .modal-body .form-check input[type="checkbox"].form-check-input {
			margin-top: 10px; }

/* FORMS */
