.badge-light {
	background: white;
	background: linear-gradient(180deg, white 0%, #cae288 21%, rgba(166, 206, 56, 0.58027) 35%, rgba(243, 246, 106, 0.633491) 100%); }

/* INDIVIDUAL ELEMENTS */
b.fa {
	margin-right: 5px; }

.form-control-sm,
.btn-sm {
	height: calc(1.5em + 5px);
	padding-top: 1px; }

.btn-outline-dark {
	border-color: #A6CE38; }

select.form-control-sm {
	margin-top: 2px; }

.dropdown-item.scroll-menu {
	width: 100%; }

.alert {
	border-left: 5px solid; }
	.alert .close {
		padding-top: 0.55rem;
		color: #696969; }

.text-danger-o {
	color: rgba(255, 0, 0, 0.8); }

/* INDIVIDUAL ELEMENTS */
/* ALL HEADERS */
.navbar-brand img {
	max-width: 100px; }

.left-flex .logo img {
	max-width: 150px; }

.scroll-menu {
	display: none; }
	.scroll-menu img {
		max-width: 70px;
		margin-right: 20px;
		margin-bottom: -5px;
		position: relative; }
	.scroll-menu .dropdown-toggle::after {
		display: none; }

/* ALL HEADERS */
/* ALL FORMS */
.form-group {
	margin-bottom: 5px; }

.modal-content {
	background: rgba(50, 50, 0, 0.5);
	color: #f8f9fa; }
	.modal-content .modal-header .close {
		color: #f8f9fa;
		text-shadow: 0 1px 0 #f8f9fa; }

/* ALL FORMS */
