@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

@if (SignInManager.IsSignedIn(User))
{
	@Html.AntiForgeryToken()
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-user"></i> @User.Identity.Name<i class="fa fa-caret-down"></i>
	</a>
	<ul class="dropdown-menu pull-right login" ui-role="stop-propagation">
		<li class="nav-item">
			<a asp-route="manage" asp-route-action="index" class="nav-link text-dark" >Настройки</a>
		</li>
		<li class="nav-item">
			<a isAuth="root" asp-controller="site"
			   asp-action="index" asp-area="admin" class="nav-link text-dark">Панель управления</a>
		</li>
		<li class="nav-item">
			<a isAuth="admin" href="#">Test</a>
		</li>
		<li class="divider"></li>
		<li class="nav-item">
			<a asp-route="account" asp-route-action="logoff" class="nav-link text-dark" ui-role="submit">Выход</a>
		</li>
	</ul>
}
else
{
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-user"></i> Аккаунт<i class="fa fa-caret-down"></i>
	</a>
	<ul class="dropdown-menu pull-right" ui-role="stop-propagation">
		<li class="nav-item">
			<div class="col-sm-12">
				@await Component.InvokeAsync("LoginFormComonent")
			</div>
		</li>
	</ul>
}
