$brand-color-silver: #dddddd;
$brand-color-light: #f8f9fa;
$brand-color-blue: #cfe8ef;
$brand-color-dark: #696969;
$brand-color-black: #171717;

%brand-color-background {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#add9e4+0,d9edf2+60,f7fbfc+100 */
	background: #add9e4; /* Old browsers */
	background: -moz-linear-gradient(top, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #add9e4 0%,#d9edf2 60%,#f7fbfc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #add9e4 0%,#d9edf2 60%,#f7fbfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#f7fbfc',GradientType=0 ); /* IE6-9 */
}
