@import "style";

.content {
	>.left-flex {
		width     : 20%;
		background: $brand-color-light;
		min-width : 200px;

		.logo {
			text-align: center;

			img {
				max-width: 150px;
			}
		}

		.left-menu {
			min-height: calc(100vh - 220px);

			margin: {
				left: 10%;
				top : 20px;
			}

			>.nav-item {
				width : 90%;
				border: 1px solid white;

				padding: {
					left: 20px;
				}

				& a {
					color: $brand-color-dark;
				}

				&.active,
				&:hover,
				&:focus {
					background: $brand-color-silver;
				}

				&.active {
					border-color: $brand-color-black;

					>a {
						color: $brand-color-black;
					}
				}
			}
		}
	}

	>.right-flex {
		width: 80%;

		.section-nav {
			.navbar {
				.nav-item {
					padding: 0 10px;
					border : 1px solid $brand-color-light;

					>.nav-link {
						padding-bottom: 10px;
						color         : $brand-color-dark;
					}

					&.active,
					&:hover,
					&:focus {
						background: $brand-color-silver;
					}

					&.active {
						border: 1px solid;

						>a {
							color: $brand-color-black;
						}
					}
				}

				&-collapse {
					margin: {
						bottom: -15px;
					}
				}
			}
		}

		.section-main {
			padding: 15px 20px;

			.header-p {
				p {
					padding-top   : 10px;
					position      : relative;
					padding-bottom: .5rem;
					font-size     : 1rem;
					text-transform: uppercase;
					text-align    : center;
					color         : $brand-color-black;

					&::before {
						content      : "";
						position     : absolute;
						border-bottom: 1px solid $brand-color-dark;
						bottom       : .25rem;
						left         : 50%;
						width        : 30%;
						transform    : translateX(-50%);
					}

					&::after {
						content      : "";
						position     : absolute;
						border-bottom: 1px solid $brand-color-dark;
						bottom       : 0;
						left         : 50%;
						width        : 15%;
						transform    : translateX(-50%);
					}
				}

				&.header-p-left {
					p {
						text-align: left;

						&::before,
						&::after {
							left     : 0;
							transform: translateX(0);
						}
					}
				}

				&.header-p-right {
					p {
						text-align: right;

						&::before,
						&::after {
							left     : unset;
							right    : 0;
							transform: translateX(0);
						}
					}
				}
			}
		}
	}
}