@import "style";

/* #region HEADER */

.header-middle {
	.navbar {
		box-shadow: 0 2px 2px $brand-color-black-o;
		position: relative;

		&.fixed {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1000;
		}
	}
}

.navbar {
	.collapse {
		align-items: flex-start;
		display: flex;

		.col:last-child {
			text-align: left;

			.col {
				padding: {
					left: 5px;
				}

				text-align: right;
			}
		}

		.nav-item {
			a {
				margin: {
					top: 5px;
				}
			}
		}

		.input-group {
			margin: {
				top: 5px;
			}
		}

		.form-inline {
			.input-group {
				width: 100%;
			}
		}
	}

	.form-inline {
		margin: {
			right: 10px;
			top: 8px;
		}

		width: 20%;
	}

	&.bg-light {
		@extend %brand-color-menu;

		border: {
			top: 1px double $brand-color-yellow-o;
		}

		height: 50px;
	}

	.list-group {
		&-item {
			border: 0;

			padding: {
				bottom: 10px;
				top: 0;
			}

			a {
				color: $brand-color-dark;
			}

			.fa {
				margin: {
					right: 10px;
				}
			}

			&:last-child {
				ul > li {
					padding: 5px;
				}
			}
		}
	}

	.dropdown {
		.dropdown-toggle {
			color: $brand-color-dark;
		}
	}
}

/* #endregion HEADER */

/* #region MAIN */

main {
	margin-top: 50px;
}

/* #endregion MAIN */

/* #region FORMS */

form {
	.modal-body {
		padding: {
			left: 60px;
			right: 60px;
		}

		.form-group.row {
			margin: {
				bottom: 0;
			}
		}

		.form-check {
			margin: {
				top: 20px;
			}

			input[type="checkbox"].form-check-input {
				margin: {
					top: 10px;
				}
			}
		}
	}
}

/* #endregion FORMS */